@use "@/styles/vars.scss" as *;

.GalleryGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    >* {
        margin: 1rem;
    }

    a {
        color: $primary-color !important;
    }
}