@use "@/styles/vars.scss" as *;

.Button {
    width: 100%;
    display: flex;
    border: 1px $primary-color solid;
    background-color: #eee;
    border: {
        radius: 10px;
    }

    transition: box-shadow 0.1s, transform 0.1s, background-color 0.1s;

    &:hover {
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.25);
        transform: scale(1.05);
        background-color: #fff;
    }

    &, a, a:hover, a:active, a:focus, a:visited {
        color: $primary-color;
        text-decoration: none;
    }

    > a {
        padding: 1rem;
        flex: 1;
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        > .Icon {
            position: relative;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }

        > .Text {
            flex: 1;
        }
    }
}