@use "@/styles/vars.scss" as *;

.Button {
    width: 100%;
    display: flex;
    border: 1px $primary-color solid;
    background-color: #eee;
    border: {
        radius: 10px;
    }

    transition: box-shadow 0.1s, transform 0.1s, background-color 0.1s;

    &:not(.Disabled):hover {
        box-shadow: 0 0 0.5rem 0 rgba(#000, 0.25);
        transform: scale(1.05);
        background-color: #fff;
    }

    &, a, a:hover, a:active, a:focus, a:visited {
        color: $primary-color;
        text-decoration: none;
    }

    > a {
        padding: 1rem;
        flex: 1;
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        > .Icon {
            position: relative;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }

        > .Text {
            flex: 1;
        }
    }

    &.Disabled {
        opacity: 0.5;
        cursor: not-allowed;

        // Touch shake animation
        &:active {
            animation: shake-horizontal 1s linear both;
        }
    }

    @keyframes shake-horizontal {
        0% { transform: translateX(0); }
        10%, 30%, 50%, 70% { transform: translateX(-2rem); }
        20%, 40%, 60%, 80% { transform: translateX(2rem); }
        90% { transform: translateX(-1rem);}
        100% { transform: translateX(0); }
    }
}