$margin: 1rem;

.Page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - $margin * 2);
    max-width: 448px;
    margin: $margin auto;
    padding: 0 $margin;

    // border: 1px solid #444;

    > * {
        margin: calc($margin / 2) 0;
    }
}