@use "@/styles/vars.scss" as *;

.ImageGallery {
    width: 100%;
    display: flex;
    border: 1px $primary-color solid;
    background-color: #eee;
    border: {
        radius: 10px;
    }
    overflow: hidden;

    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
    }
}