$margin: 1rem;

.Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    > * {
        margin: calc($margin / 2) 0;
    }
}