$margin: 1rem;

.SectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 0 $margin;

    > * {
        margin: ($margin / 2) 0;
    }
}