.SectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;

    > * {
        margin: 0.5rem 0;
    }
}