@use "@/styles/vars.scss" as *;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: $background-color;
  transition: background-color 0.1s ease;
  color: $primary-color;

  font: {
    family: Noto Sans JP,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
    size: $base-font-size;
  }

  &:has(* > .page.dark) {
    background-color: #000;
  }
}