@use "@/styles/vars.scss" as *;

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $background-color;
  transition: background-color 0.1s ease;
  color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;

  &:has(* > .page.dark) {
    background-color: #000;
  }
}
