.PageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 480px;
    margin: 1rem auto;

    // border: 1px solid #444;

    > * {
        margin: 0.5rem 0;
    }
}