$margin: 1rem;

.PageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - $margin * 2);
    max-width: 480px;
    margin: $margin auto;

    // border: 1px solid #444;

    > * {
        margin: ($margin / 2) 0;
    }
}